# Assignment 1
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [114]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Download file already exists
Data directory already exists

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [115]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/ForeignGifts_edu.csv')

df.head()

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,102000,Jacksonville State University,Jacksonville,AL,43738,250000,Monetary Gift,CHINA,NaN
1,2,104700,Troy University,Troy,AL,43592,463657,Contract,CHINA,Confucius Institute Headquarters
2,3,105100,University of Alabama,Tuscaloosa,AL,43466,3649107,Contract,ENGLAND,Springer Nature Customer Service Ce
3,4,105100,University of Alabama,Tuscaloosa,AL,43472,1000,Contract,SAUDI ARABIA,Saudi Arabia Education Mission
4,5,105100,University of Alabama,Tuscaloosa,AL,43479,49476,Contract,SAUDI ARABIA,Saudi Arabia Education Mission

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

I want to look at Country of Giftor and Institution Name.

*These are both categorical variables.*

I'll also look at Foreign Gift Amount.

*This is a numeric variable.*

In [116]:
# How many missing values

# Country of Giftor
print(df['Country of Giftor'].isna().sum(), "missing values from Country of Giftor")

# Institution Name
print(df['Institution Name'].isna().sum(), "missing values from Institution Name")

# Foreign Gift Amount
print(df['Foreign Gift Amount'].isna().sum(), "missing values from Foreign Gift Amount")

0 missing values from Country of Giftor
0 missing values from Institution Name
0 missing values from Foreign Gift Amount

In [117]:
# Tabulate the values if categorical

# Country of Giftor
print(df['Country of Giftor'].value_counts())

print("----------")
# Institution Name
print(df['Institution Name'].value_counts())

Country of Giftor
ENGLAND        3655
CHINA          2461
CANADA         2344
JAPAN          1896
SWITZERLAND    1676
               ...
TOKELAU           1
BELARUS           1
BARBADOS          1
CROATIA           1
ANTIGUA           1
Name: count, Length: 155, dtype: int64
----------
Institution Name
University of California, Los Angeles          3916
California Institute of Technology             2502
Columbia University in the City of New York    1127
Ohio State University (The)                    1014
Johns Hopkins University                        899
                                               ...
Westmont College                                  1
Corban University                                 1
Frostburg State University                        1
Beth Medrash Govoha of America                    1
Jacksonville State University                     1
Name: count, Length: 318, dtype: int64

In [118]:
# Get a summary of the values if categorical

print("----------")
# Institution Name
print(df['Foreign Gift Amount'].describe())

print(df[df['Country of Giftor'] == 'QATAR'].head())

----------
count    2.822100e+04
mean     5.882327e+05
std      3.222011e+06
min     -5.377700e+05
25%      5.700000e+03
50%      9.461500e+04
75%      3.761420e+05
max      1.000000e+08
Name: Foreign Gift Amount, dtype: float64
      ID   OPEID          Institution Name   City State  \
324  325  108100  Arizona State University  Tempe    AZ
329  330  108100  Arizona State University  Tempe    AZ
334  335  108100  Arizona State University  Tempe    AZ
341  342  108100  Arizona State University  Tempe    AZ
349  350  108100  Arizona State University  Tempe    AZ

     Foreign Gift Received Date  Foreign Gift Amount Gift Type  \
324                       41648                12126  Contract
329                       41696                11308  Contract
334                       41724                11609  Contract
341                       41766                94617  Contract
349                       41829                 2959  Contract

    Country of Giftor             Giftor Name
324             QATAR  RasGas Company Limited
329             QATAR  RasGas Company Limited
334             QATAR  RasGas Company Limited
341             QATAR  RasGas Company Limited
349             QATAR  RasGas Company Limited

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

It would be intresting to explore whether there is a correlation between Country of Giftor and the State the recipient college is in. Such predictions could interest State Governors and may make them keen to deepen relationships with the giftor countries that seem likely to give to institutions in their state.

Practically, this is definitley doable. Ethically, also doable. In my opinion, the data may actually reveal some ethical issues in terms of gifts from foreign entities.

I would be interested in seeing a breakdown of which institutions are private and which are public. I also would like to know each college's operating budget so that I could look at the Foreign Gift Amount as a percentage of operating budget to understand more about the financial impact of the gift.
I also want to see

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.